Jsonfile.txt
[
    {
        "id": "84070b956f808308",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec62c5205bd8e176",
        "type": "mqtt out",
        "z": "84070b956f808308",
        "name": "",
        "topic": "to_r1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a78910a7de187960",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "b9bad66f83ebc08c",
        "type": "ui_switch",
        "z": "84070b956f808308",
        "name": "",
        "label": "On / Off R1",
        "tooltip": "",
        "group": "878cb2d6465c23c0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "ec62c5205bd8e176"
            ]
        ]
    },
    {
        "id": "2136d49bc0b3c422",
        "type": "mqtt in",
        "z": "84070b956f808308",
        "name": "",
        "topic": "from-esp8266",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78910a7de187960",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "3459250597bd18f9",
                "183e2653fa3a6c8f"
            ]
        ]
    },
    {
        "id": "3459250597bd18f9",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "c061853b60a709c4",
        "type": "inject",
        "z": "84070b956f808308",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "ec62c5205bd8e176"
            ]
        ]
    },
    {
        "id": "183e2653fa3a6c8f",
        "type": "ui_text",
        "z": "84070b956f808308",
        "group": "878cb2d6465c23c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Click below button to control",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "b8e677cf6be00c88",
        "type": "mqtt out",
        "z": "84070b956f808308",
        "name": "",
        "topic": "to_r2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a78910a7de187960",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "e6adf957febaa120",
        "type": "ui_switch",
        "z": "84070b956f808308",
        "name": "",
        "label": "On / Off R2",
        "tooltip": "",
        "group": "878cb2d6465c23c0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "b8e677cf6be00c88"
            ]
        ]
    },
    {
        "id": "152b5e63b2d1d628",
        "type": "inject",
        "z": "84070b956f808308",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "b8e677cf6be00c88"
            ]
        ]
    },
    {
        "id": "372f21ef1b7569a6",
        "type": "inject",
        "z": "84070b956f808308",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "7caf51227c4585b6"
            ]
        ]
    },
    {
        "id": "7caf51227c4585b6",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "e6b2a17ef18f5e8c",
        "type": "aedes broker",
        "z": "84070b956f808308",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a78910a7de187960",
        "type": "mqtt-broker",
        "name": "Local Server",
        "broker": "192.168.21.102",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "878cb2d6465c23c0",
        "type": "ui_group",
        "name": "On/Off Control",
        "tab": "8af49c6fff5c41c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8af49c6fff5c41c6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]